.table-render-preview-wrapper {
  table {
    display: inline-block;
    width: 100%;
    font-size: .9em;
    tbody {
      display: inline-block;
      width: 100%;
    }
    tr {
      display: inline-block;
      width: 100%;
      td.label {
        width: 100%;
        &.group {
          font-weight: bold;
        }
        &.data {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 0;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}