@import '../../_styles/colors.scss';

.login-wrapper {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/img/login_nb.jpg');
  background-size: cover;

  .login-card {
    max-width: 500px;
    .mat-card-header {
      justify-content: center;
      margin-bottom: 24px;
      .mat-card-title {
        color: $vl-color-1;
        font-weight: bold;
        font-size: 1.9em;
      }
    }
  }
  
  .tela-botanica-header-image {
    width: 70px;
    height: 70px;
    background-image: url('../../../assets/img/tela-bota/logo_sans_mots.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content {
    text-align: center;
    mat-form-field {
      width: 220px;
    }
    .error-message {
      text-align: center;
    color: red;
    }
    .icon-show-hide-password {
      cursor: pointer;
    }
  }
  
  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &.login {
        width: 120px;
        height: 36px;
      }
    }
  }
}
