<div class="phyto_app_container">
  <div class="row layout">
    <!--   SPLIT Action -- Table + Info   -->
    <as-split #actionTablePanels unit="percent" direction="horizontal" (dragEnd)="actionPanelDragEnd($event)">
      <!-- ACTION PANEL -->
      <as-split-area size="67" [order]="0" *ngIf="wsPhytoService.isActionPanelOpened()">
        <div id="action_panel">
          <button mat-icon-button (click)="panelsSizeOrPositionHaveBeenUpdated(); router.navigate(['/phyto/app'])"><mat-icon>close</mat-icon></button>
          <router-outlet></router-outlet>
        </div>
      </as-split-area>
      <as-split-area size="33" [order]="1" #content>
        <!--   SPLIT Table -- Info   -->
        <as-split #tableInfoPanels unit="percent" [direction]="wsPhytoService.getInfoPanelSplitDirection()" (dragEnd)="infoPanelDragEnd($event)">
          <!-- TABLE PANEL -->
          <as-split-area size="67" [order]="0" id="table-panel">
            <div class="progress-bar-container" *ngIf="tableService.isLoadingData | async">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="table-menu">
              <button mat-button (click)="quickSaveTable()" [disabled]="isSavingTable"><mat-spinner *ngIf="isSavingTable" diameter="16"></mat-spinner> Enregistrer</button>
              <button mat-button (click)="router.navigate(['/phyto/app/create-table'])" [disabled]="isSavingTable"><mat-spinner *ngIf="isSavingTable" diameter="16"></mat-spinner> Enregistrer sous</button>
            </div>
            <div #tableArea style="width: 100%; height: 100%">
              <vl-table></vl-table>
            </div>
            <div *ngIf="!infoPanelActive" class="info-panel-button">
              <button mat-mini-fab color="primary" (click)="openInfoPanel()">
                <mat-icon *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'vertical'">more_horiz</mat-icon>
                <mat-icon *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'horizontal'" >more_vert</mat-icon>
              </button>
            </div>
          </as-split-area>
          <!-- INFO PANEL -->
          <as-split-area *ngIf="infoPanelActive" size="33" [order]="1">
            <!-- info panel vertical -->
            <div class="info-panel vertical" *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'vertical'">
              <div class="content">
                <div class="no-active-area" *ngIf="noActiveArea()">
                  <div class="icon"><mat-icon inline="true">more_horiz</mat-icon></div>
                  <div class="title">Paneau d'informations</div>
                  <div class="text">
                    <p>Cet espace est dédié à l'affichage des informations relatives au tableau : identiciations, auteurs, métadonnées, localisation des relevés, etc.</p>
                    <p>Activez l'un des modules via les bouttons de droite pour afficher les informations.</p>
                  </div>
                </div>
                <as-split direction="horizontal" (dragEnd)="infoSubPanelDragEnd($event)" *ngIf="!noActiveArea()">
                  <as-split-area *ngIf="pdfAreaActive"><vl-pdf-viewer></vl-pdf-viewer></as-split-area>
                  <as-split-area *ngIf="chartAreaActive">chart</as-split-area>
                  <as-split-area *ngIf="validationAreaActive"><vl-phyto-validation></vl-phyto-validation></as-split-area>
                  <as-split-area *ngIf="mapAreaActive"><vl-table-overview-map [invalidateSize]="panelsSizeChanged | async"></vl-table-overview-map></as-split-area>
                  <as-split-area *ngIf="infoAreaActive"><vl-table-selected-element></vl-table-selected-element></as-split-area>
                  <as-split-area *ngIf="idioPhotoAreaActive"><vl-idiotaxon-images></vl-idiotaxon-images></as-split-area>
                </as-split>
              </div>
              <div class="actions-bar">
                <div class="button close" (click)="closeInfoPanel()"><mat-icon>close</mat-icon></div>
                <div class="button toggle-direction" (click)="toggleSplitInfoPanel()"><mat-icon>arrow_forward</mat-icon></div>
                <div class="button info"  [class.active]="infoAreaActive"  (click)="toggleInfo()"><mat-icon>info</mat-icon></div>
                <div class="button photo"  [class.active]="idioPhotoAreaActive"  (click)="toggleIdioPhoto()"><mat-icon>photo</mat-icon></div>
                <div class="button map"   [class.active]="mapAreaActive"   (click)="toggleMap()"><mat-icon>map</mat-icon></div>
                <div class="button chart" [class.active]="chartAreaActive" (click)="toggleChart()"><mat-icon>bar_chart</mat-icon></div>
                <div class="button validation" [class.active]="validationAreaActive" (click)="toggleValidation()"><mat-icon>check</mat-icon></div>
                <div class="button pdf"   [class.active]="pdfAreaActive"   (click)="togglePdf()"><mat-icon>picture_as_pdf</mat-icon></div>
              </div>
            </div>

            <!-- info panel horizontal -->
            <div class="info-panel horizontal" *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'horizontal'">
              <div class="actions-bar">
                <div class="button close" (click)="closeInfoPanel()"><mat-icon>close</mat-icon></div>
                <div class="button toggle-direction" (click)="toggleSplitInfoPanel()"><mat-icon>arrow_downward</mat-icon></div>
                <div class="button info"  [class.active]="infoAreaActive"  (click)="toggleInfo()"><mat-icon>info</mat-icon></div>
                <div class="button idio-photo"  [class.active]="idioPhotoAreaActive"  (click)="toggleIdioPhoto()"><mat-icon>photo</mat-icon></div>
                <div class="button map"   [class.active]="mapAreaActive"   (click)="toggleMap()"><mat-icon>map</mat-icon></div>
                <div class="button chart" [class.active]="chartAreaActive" (click)="toggleChart()"><mat-icon>bar_chart</mat-icon></div>
                <div class="button validation" [class.active]="validationAreaActive" (click)="toggleValidation()"><mat-icon>check</mat-icon></div>
                <div class="button pdf"   [class.active]="pdfAreaActive"   (click)="togglePdf()"><mat-icon>picture_as_pdf</mat-icon></div>
              </div>
              <div class="content">
                <div class="no-active-area" *ngIf="noActiveArea()">
                  <div class="icon"><mat-icon inline="true">more_vert</mat-icon></div>
                  <div class="title">Paneau d'informations</div>
                  <div class="text">
                    <p>Cet espace est dédié à l'affichage des informations relatives au tableau : identiciations, auteurs, métadonnées, localisation des relevés, etc.</p>
                    <p>Activez l'un des modules via les bouttons ci-dessus pour afficher les informations.</p>
                  </div>
                </div>
                <as-split direction="vertical" (dragEnd)="infoSubPanelDragEnd($event)" *ngIf="!noActiveArea()">
                  <as-split-area *ngIf="pdfAreaActive"><vl-pdf-viewer></vl-pdf-viewer></as-split-area>
                  <as-split-area *ngIf="chartAreaActive">chart</as-split-area>
                  <as-split-area *ngIf="validationAreaActive"><vl-phyto-validation></vl-phyto-validation></as-split-area>
                  <as-split-area *ngIf="mapAreaActive"><vl-table-overview-map [invalidateSize]="panelsSizeChanged | async"></vl-table-overview-map></as-split-area>
                  <as-split-area *ngIf="infoAreaActive"><vl-table-selected-element></vl-table-selected-element></as-split-area>
                  <as-split-area *ngIf="idioPhotoAreaActive"><vl-idiotaxon-images></vl-idiotaxon-images></as-split-area>
                </as-split>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>