.phyto_app_container {
  height: calc(100vh - 75px);
  max-height: calc(100vh - 75px);
  overflow: hidden;
  .layout {
    height: calc(100vh - 75px);
    #action_panel {
      max-height: 100%;
      height: 100%;
      background-color: white;margin: 0;
      overflow-y: scroll;
      padding: 15px;
      margin-left: 15px;
      &.col-md-6 {
        padding: 0;
      }
    }
    #table-panel {
      .info-panel-button {
        position: absolute;
        bottom: 15px;
        right: 30px;
        margin: 30px;
      }
      .progress-bar-container {
        min-height: 4px;
      }
    }
  }
  

  .info-panel.vertical {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    .actions-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;

      background-color: #EEEEEE;
      color: grey;
      .button {
        padding: 10px;
        cursor: pointer;
        &:hover {
          color: black;
        }
        &.active {
          color: green;
        }
      }
    }
    .content {
      width: 100%;
      .no-active-area {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        color: lightgrey;
        padding-left: 60px;
        .icon {
          height: 100px;
          width: 100px;
          padding-left: 18px;
          padding-top: 5px;
          border: 2px solid lightgrey;
          font-size: 60px;
          border-radius: 50px;
        }
        .title {
          margin-bottom: 30px;
          font-size: 1.5em;
          font-weight: bold;
        }
        .text {
          max-width: 500px;
          text-align: justify;
        }
      }
    }
  }

  .info-panel.horizontal {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .actions-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;

      background-color: #EEEEEE;
      color: grey;
      .button {
        padding: 10px;
        cursor: pointer;
        &:hover {
          color: black;
        }
        &.active {
          color: green;
        }
      }
    }
    .content {
      height: 100%;
      .no-active-area {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        color: lightgrey;
        .icon {
          height: 100px;
          width: 100px;
          padding-left: 18px;
          padding-top: 5px;
          border: 2px solid lightgrey;
          font-size: 60px;
          border-radius: 50px;
        }
        .title {
          margin-bottom: 30px;
          font-size: 1.5em;
          font-weight: bold;
        }
        .text {
          max-width: 400px;
          text-align: justify;
        }
      }
    }
  }
}