.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  .filter {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .date {
      max-width: 170px;
    }
  }
  .options {
    color: lightgrey;
  }
}