.table-view-container {
  position: relative;
  .progress-bar-top {
    margin-top: -4px;
  }
  .loading-shade {
    position: absolute;
    top: 4px;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table-container {
    width: 100%;
    overflow: auto;
    table {
      width: 100%;
  
      .action-cell {
        width: 50px;
      }

      .is-child {
        padding-left: 45px;
      }
    }
  }
  
  .grey {
    color: grey;
  }
}
