@import '../../_styles/colors';

.app-toolbar {
  min-height: 40px !important;
  height: 40px;
  .mat-toolbar-row {
    height: 40px;
  }

  button.mat-menu-item.app-toolbar-button {
    width: auto !important;
    max-height: 34px;
    line-height: inherit !important;
    height: 34px !important;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  a {
    color: #8C8C8C;
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
  
    &:hover {
      text-decoration: none;
    }
  
    &.navbar-brand {
      position:relative;
      text-decoration: none;
      height: 100%;
      margin-left: -16px;
      background-color: $tb-green;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      &.ws {
        background-color: $tb-orange;
      }

      .title {
        padding-left: 20px;
        padding-right: 20px;
      }

      .triangle {
        position: relative;
        height: 100%;
        width: 28px;
        border-style: solid;
        border-width: 21px 0px 21px 15px;
        margin-left: -5px;
    
        &.vl {
          border-color: $tb-orange whitesmoke $tb-orange $tb-green;
        }
    
        &.ws {
          border-color: whitesmoke whitesmoke whitesmoke $tb-orange;
        }
      }
    }
  }
}
