<div id="table-wrapper" [class.hide-table]="!currentDataView">
  <div class="table-menu">
    <div class="button first">
      <button mat-button
        matTooltip=""
        (click)="createEmptyTable()">
        <mat-icon>delete_sweep</mat-icon>
        <span> Nouv. tab.</span>
      </button>
    </div>

    <div class="button">
      <button mat-button
        [matMenuTriggerFor]="menuSaveAction"
        matTooltip=""
        [disabled]="isSavingTable || !currentTableOwnedByCurrentUser"
        [class.spinner]="isSavingTable">
        <mat-icon>save</mat-icon>
        <span> Enregistrer</span>
      </button>
    </div>
    <mat-menu #menuSaveAction="matMenu">
      <button mat-menu-item [disabled]="_currentTable.id == null || tableActions.length === 0" (click)="quickSaveTable()">Enregistrer</button>
      <button mat-menu-item (click)="router.navigate(['/phyto/app/create-table'])">Enregistrer sous</button>
    </mat-menu>

    <div class="button">
      <button mat-button
        (click)="forkCurrentTable()"
        matTooltip="Dupliquer le tableau courant"
        [disabled]="isDuplicatingTable || _currentTable.id == null"
        [class.spinner]="isDuplicatingTable">
        <mat-icon>file_copy</mat-icon>
        <span> Dupliquer</span>
      </button>
    </div>

    <div class="separator"></div>

    <div class="button">
      <button mat-button
        (click)="router.navigate(['/phyto/app/identification'])"
        matTooltip="Identifications">
        <mat-icon>check</mat-icon>
        <span> Identifications</span>
      </button>
    </div>

    <div class="separator"></div>

    <div class="button">
      <button mat-button class="button">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
    <div class="button">
      <button mat-button class="button">
        <mat-icon>redo</mat-icon>
      </button>
    </div>

    <div class="separator"></div>

    <div class="button">
      <button mat-button class="button" disabled>
        <mat-icon>forum</mat-icon>
      </button>
    </div>
    <!--
    <div class="button first"><button mat-button (click)="quickSaveTable()" [disabled]="isSavingTable || !currentTableOwnedByCurrentUser"><mat-spinner *ngIf="isSavingTable" diameter="16"></mat-spinner> Enregistrer</button></div>
    <div class="button first"><button mat-button (click)="router.navigate(['/phyto/app/create-table'])" [disabled]="isSavingTable || !currentTableOwnedByCurrentUser"><mat-spinner *ngIf="isSavingTable" diameter="16"></mat-spinner> Enregistrer sous</button></div>
    -->
  </div>
  <!--<table>
    <tbody>
      <tr id="table-sub-header">
        <td class="spacer" [style.width.px]="tableSpacerPx"></td>
        <td *ngFor="let sye of currentSyes"
          [style.width]="getSyeVisibleWidth(sye.syeId)"
          [style.maxWidth]="getSyeVisibleWidth(sye.syeId)"
          [class]="getSubHeaderClassname(sye.syeId)">[{{ sye.syeId }}] Nom du syntaxon ({{ sye.occurrencesCount }})</td>
      </tr>
    </tbody>
  </table>-->

  <div class="handsontable-container">
    <hot-table
      [hotId]="hotTableId"
      [settings]="tableSettings"
    ></hot-table>
  </div>

  <button mat-button (click)="router.navigate(['/phyto/app/create-table'])">Enregistrer le tableau</button>
</div>

<div *ngIf="!currentDataView" class="no-data-table">
  <div class="icon"><mat-icon inline="true">table_chart</mat-icon></div>
  <div class="title">Aucun tableau à afficher</div>
  <div class="action-buttons">
    <button mat-button (click)="router.navigate(['/phyto/app/search-occurrence'])">Rechercher un relevé</button>
    <button mat-button (click)="router.navigate(['/phyto/app/search-table'])">Rechercher un tableau</button>
  </div>
</div>