@import '../../_styles/colors.scss';

.no-data-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: lightgrey;
  .icon {
    height: 100px;
    width: 100px;
    padding-left: 18px;
    padding-top: 5px;
    border: 2px solid lightgrey;
    font-size: 60px;
    border-radius: 50px;
  }
  .title {
    margin-bottom: 50px;
    font-size: 1.5em;
    font-weight: bold;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
    button {
      color: black;
      margin-bottom: 20px;
    }
  }
}

#table-sub-header {
  font-size: .8em;
  .spacer {
    background-color: #F0F0F0;
  }
  .sub-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    &.sye-0 {background-color: rgba($cell-color-0, $cell-color-transparency); }
    &.sye-1 {background-color: rgba($cell-color-1, $cell-color-transparency); }
    &.sye-2 {background-color: rgba($cell-color-2, $cell-color-transparency); }
    &.sye-3 {background-color: rgba($cell-color-3, $cell-color-transparency); }
    &.sye-4 {background-color: rgba($cell-color-4, $cell-color-transparency); }
  }
}

#table-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  &.hide-table {
    height: 0;
  }
  .table-menu {
    background-color: #EEEEEE;
    height: 40px;
    display: flex;
    flex-direction: row;

    .button {
      margin-left: 5px;
      margin-right: 5px;
      &.first {
        margin-left: 0;
      }
    }
    .separator {
      width: 2px;
      border: 1px solid #ccc;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .handsontable-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}