<div id="table-simple-wrapper" [class.hide-table]="!currentDataView || (currentDataView && currentDataView.length === 0)">
  <table>
    <tr *ngFor="let row of currentDataView">
      <td class="cell header" [class.group]="row.type === 'group'" title="{{ row.displayName }}">{{ row.displayName }}</td>
      <td *ngFor="let cell of row.items" class="cell main"
                                         [class.coef]="cell.type === 'rowValue'"
                                         [class.synth]="cell.type === 'cellSynColValue'">{{ cell.value }}</td>
    </tr>
  </table>
</div>

<div *ngIf="!currentDataView || (currentDataView && currentDataView.length === 0)" class="no-data-table">
  <div class="icon"><mat-icon inline="true">table_chart</mat-icon></div>
  <div class="title">Aucun tableau à afficher</div>
  <div class="action-buttons">
    <button mat-button (click)="router.navigate(['/phyto/app/search-occurrence'])">Rechercher un relevé</button>
    <button mat-button (click)="router.navigate(['/phyto/app/search-table'])">Rechercher un tableau</button>
  </div>
</div>