@import '../../_styles/colors.scss';

#my-data-container {

  .header, .fullwidth-block, .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .header {
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url('../../../assets/wsPhyto/img/phytosocio.png');
    background-size: cover;
    color: white;

    h1 {
      font-size: 3em;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 1.5em;
      text-align: center;
    }
  }

  .sidenav-container {
    width: 100%;
    background-color: white;
    .sidenav {
      max-width: 40%;
      .sidenav-content-wrapper {
        min-width: 400px;
        .sidenav-header {
          padding: 15px;
          &.table {
            background-color: $blue;
            color: white;
          }
          &.occurrence {
            background-color: $green;
            color: white;
          }
        }
        .sidenav-content {
          .confirm-delete {
            padding: 25px;
            .action-buttons {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }
        }
      }
    }
    .content {
      margin-top: 30px;
      .section {
        width: 100%;
        h3 {
          width: max-content;
        }
        .title {
          img {
            width: 35px;
          }
        }
        .info-paragraph {
          padding-top: 15px;
          font-style: italic;
        }
      }
      .my-tables-content {
        width: 100%;
      }
      .my-occurrences-content {
        width: 100%;
      }
    }
  
    

    .inline-spinner {
      margin-right: 8px;
    }
  }
  
}