@import '../../../_styles//colors.scss';

.header {
  padding: 15px;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .icon-with-border {
      width: 29px;
      height: 29px;
      padding-top: 2px;
      padding-left: 2px;
      border-width: 1px;
      border-style: solid;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  &.table {
    background-color: $blue;
    color: white;
  }
  &.occurrence {
    background-color: $green;
    color: white;
  }
}
.content {
  
}